<server description="SHIRO-678">
  <featureManager>
    <feature>localConnector-1.0</feature>
    <feature>monitor-1.0</feature>

    <feature>jsonb-1.0</feature>
    <feature>jaxrs-2.1</feature>
  </featureManager>

  <!-- the default logging timestamp format depends on the locale. -->
  <logging isoDateFormat="true" />

  <!-- load servlets immediately. -->
  <webContainer deferServletLoad="false" />

  <!-- if we were using CDI, do not scan all archives. -->
  <cdi12 enableImplicitBeanArchives="false" />
</server>
